./services/user_service/target
./services/email_service/target
./services/vehicle_service/target
./services/order_handling_service/target
./services/message_service/target
./services/agent_backend/agent_backend/__pycache__
./services/user_service/.classpath
./services/admin_backend/.classpath
./services/email_service/.classpath
./services/vehicle_service/.classpath
./services/order_handling_service/.classpath
./services/user_service/.project
./services/admin_backend/.project
./services/email_service/.project
./services/vehicle_service/.project
./services/order_handling_service/.project
./services/user_service/.settings
./services/admin_backend/.settings
./services/email_service/.settings
./services/vehicle_service/.settings
./services/order_handling_service/.settings
.idea
./services/user_frontend/node_modules
./services/user_frontend/dist
