<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Uprava korisnicima</h4>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Username
              </th>
              <th>
                Role
              </th>
              <th>
                Approved
              </th>
              </thead>
              <tbody>
              <ng-container *ngFor="let user of users">
                <tr>
                  <td>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.role}}</td>
                  <td>{{user.approved}}</td>

                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Registracija</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="open1(user)">Obriši registraciju</button>
                        <button ngbDropdownItem (click)="open(user)">Registruj</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>Role</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="open3(user)">Client</button>
                        <button ngbDropdownItem (click)="open6(user)">Agent</button>
                        <button ngbDropdownItem (click)="open7(user)">Admin</button>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Uprava komentarima</h4>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Id komentatora
              </th>
              <th>
                Sadrzaj
              </th>
              <th>
                Approved
              </th>
              </thead>
              <tbody>
              <ng-container *ngFor="let coment of coments">
                <tr>
                  <td>{{coment.id}}</td>
                  <td>{{coment.idKomentatora}}</td>
                  <td>{{coment.sadrzaj}}</td>
                  <td>{{coment.approved}}</td>

                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic4" ngbDropdownToggle>Approval</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="open8(coment,coment.id)">Approve</button>
                        <button ngbDropdownItem (click)="open9(coment.id)">Delete</button>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Uprava ocenama</h4>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Id kola
              </th>
              <th>
                Id reklame
              </th>
              <th>
                Ocena
              </th>
              <th>
                Approved
              </th>
              </thead>
              <tbody>
              <ng-container *ngFor="let vote of votes">
                <tr>
                  <td>{{vote.id}}</td>
                  <td>{{vote.idKola}}</td>
                  <td>{{vote.idReklame}}</td>
                  <td>{{vote.vrednost}}</td>
                  <td>{{vote.approved}}</td>

                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic5" ngbDropdownToggle>Approval</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="open110(vote,vote.id)">Approve</button>
                        <button ngbDropdownItem (click)="open111(vote.id)">Delete</button>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Uprava klientima</h4>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                First name
              </th>
              <th>
                Last name
              </th>
              <th>
                Blocked
              </th>
              </thead>
              <tbody>
              <ng-container *ngFor="let client of clients">
                <tr>
                  <td>{{client.id}}</td>
                  <td>{{client.firstName}}</td>
                  <td>{{client.lastName}}</td>
                  <td>{{client.blocked}}</td>

                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic6" ngbDropdownToggle>Approval</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="open10(client)">Block</button>
                        <button ngbDropdownItem (click)="open11(client)">Unblock</button>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
