<nb-card>
  <nb-card-header>Create new ad</nb-card-header>
  <nb-card-body>
    <form [formGroup]="AdForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="label" for="vehicle">Vehicle: </label>
        <nb-select formControlName="vehicle" id="vehicle" placeholder="Choose vehicle">
          <nb-option *ngFor="let vehicle of vehicles" [value]="vehicle.vendor + ' ' + vehicle.model + ' ' + vehicle.vehicleClass">{{ vehicle.vendor + ' ' + vehicle.model + ' ' + vehicle.vehicleClass }}</nb-option>

        </nb-select>
      </div>
      <br>
      <div class="full-name-inputs">
        <label  for="percent">Discount:  </label>
        <input formControlName="percent" type="text" id="percent" nbInput  placeholder="%">
        <label for="days">Fro more than:  </label>
        <input formControlName="days" type="number" min="0" id="days" nbInput  placeholder="">
      </div>
      <br>
      <button type="submit" nbButton status="primary">Save</button>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    My discounts
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onReserve($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>



