<div class="panel-header panel-header-sm">
</div>

<div class="card-body">
    <h4 class="card-title"> Create ad</h4>

  <form [formGroup]="AdForm" (ngSubmit)="perica()">

    <div class="full-name-inputs">
      <label for="price">Price:  </label>
      <input type="number" formControlName="cena" id="price" #price nbInput min="0" value="0"  placeholder="Price">
      <label for="price">Damage:  </label>
      <input type="checkbox" id="damage" formControlName="damage" />
    </div>

    <div>
      <mat-form-field >
        <mat-label>Locations</mat-label>
        <mat-select formControlName="location">
          <mat-option id="location"  *ngFor="let location of lokacije" [value]="location">{{location}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Vehicle id</mat-label>
        <mat-select formControlName="vehicleId">
          <mat-option id="vehicleId"  *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      <div>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startTime">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    <br>
    <div>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </div>




    <button type="submit" class="btn btn-primary">Save</button>
  </form>





</div>
