<div class="panel-header panel-header-sm">
</div>

<div class="row">
  <div class="col-lg-6">


        <div class="profile">
          <form [formGroup]="profileForm" (ngSubmit)="update()">
            <div>
              <label for="username">Username:       </label>
              <input type="text" id="username" value="{{loadedData.username}}" nbInput fullWidth disabled placeholder="Username">
            </div>
            <br>
            <div>
              <label for="email">Email:             </label>
              <input type="text" id="email" value="{{loadedData.email}}" nbInput fullWidth formControlName="email" placeholder="Email">
            </div>
            <br>
            <div>
              <label for="company">Company Identifier:</label>
              <input type="number" id="company" value="{{loadedData.companyIdentifier}}" nbInput fullWidth formControlName="company" placeholder="Company Identifier">
            </div>
            <br>
            <div>
              <label for="name">Name:                 </label>
              <input type="text" id="name" value="{{loadedData.name}}" nbInput fullWidth formControlName="name" placeholder="Name">
            </div>
            <br>
            <div>
              <label for="adress">Adress:           </label>
              <input type="text" id="adress" value="{{loadedData.adress}}" nbInput fullWidth formControlName="adress" placeholder="Adress">
            </div>
            <br>
            <p>
              <input type="submit" class="btn btn-primary" value="Update">
            </p>
          </form>
        </div>
  </div>
</div>
