<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Register agent</h4>
        </div>


        <div class="card-body">
          <form [formGroup]="AgentForm" (ngSubmit)="submit()">

            <div class="full-name-inputs">
              <label  for="username"></label>
              <input formControlName="username" type="text" id="username" nbInput  placeholder="Username">
            </div>
            <div class="full-name-inputs">
              <label  for="password"></label>
              <input formControlName="password" type="password" id="password" nbInput  placeholder="Password">
            </div>
            <div class="full-name-inputs">
              <label  for="email"></label>
              <input formControlName="email" type="text" id="email" nbInput  placeholder="Email">
            </div>
            <div class="full-name-inputs">
              <label  for="name"></label>
              <input formControlName="name" type="text" id="name" nbInput  placeholder="Name">
            </div>
            <div class="full-name-inputs">
              <label  for="companyIdentifier"></label>
              <input formControlName="companyIdentifier" type="number" id="companyIdentifier" nbInput  placeholder="Company identifier">
            </div>
            <div class="full-name-inputs">
              <label  for="adress"></label>
              <input formControlName="adress" type="text" id="adress" nbInput  placeholder="Adress">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

