<div class="panel-header panel-header-sm">
</div>


<div class="container">

  <h1>Odabir vendora</h1>



<div class="main-content">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">

      <select formControlName="vendor" class="form-control" (change)="changeVendor($event)">
        <option disabled>Select vendor</option>
        <option *ngFor="let vendor of vendors">{{vendor}}</option>
      </select>
      <div *ngIf="f.vendor.touched && f.vendor.invalid" class="alert alert-danger">
        <div *ngIf="f.vendor.errors.required">Name is required.</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

  </form>

  <button class="btn btn-primary" (click)="deleteV()"> Obrisi vendora</button>
  <button class="btn btn-primary" (click)="addV(profil)"> Dodaj vendora</button>
  <button class="btn btn-primary" (click)="editV(editVe)"> Edituj vendora</button>

</div>
</div>




<ng-template #profil let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title1">Add vendora</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="card-body">
      <form [formGroup]="AdminForm" (ngSubmit)="open3()">

        <div class="full-name-inputs">
          <label  for="vendorName"></label>
          <input formControlName="vendorName" type="text" id="vendorName" nbInput  placeholder="Vendors name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  <div class="modal-footer">

  </div>
</ng-template>




<ng-template #editVe let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title2">Edit vendora</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="card-body">
      <form [formGroup]="EditForm" (ngSubmit)="open4()">

        <div class="full-name-inputs">
          <label  for="editVendor"></label>
          <input formControlName="editVendor" type="text" id="editVendor" nbInput  placeholder="Vendors name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class=" text-primary">
          <th>
            Id
          </th>
          <th>
            Name
          </th>
          <th>
            Gear
          </th>
          <th>
            Oil
          </th>
          <th>
            Menage
          </th>
          </thead>
          <tbody>
          <ng-container *ngFor="let model of models">
            <tr>
              <td>{{model.id}}</td>
              <td>{{model.name}}</td>
              <td>{{model.gear}}</td>
              <td>{{model.oil}}</td>

              <td>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Uprava</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="editM(model,editMo)">Edit model</button>
                    <button ngbDropdownItem (click)="deleteM(model.id)">Delete model</button>
                  </div>
                </div>
              </td>


            </tr>
          </ng-container>
          </tbody>
        </table>

        <button class="btn btn-primary" (click)="addM()"> Add model</button>
      </div>



    </div>
  </div>

  <div class="modal-footer">

  </div>
</ng-template>




<ng-template #editMo let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title4">Edit model</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="card-body">
      <form [formGroup]="EditForm1" (ngSubmit)="open5()">

        <div class="full-name-inputs">
          <label  for="editModel"></label>
          <input formControlName="editModel" type="text" id="editModel" nbInput  placeholder="Models name">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>

    </div>

  <div class="modal-footer">

  </div>
</ng-template>




