<nb-card>
  <nb-card-header>Register new vehicle</nb-card-header>
  <nb-card-body>
    <form [formGroup]="VehicleForm" class="new-vehicle-form" (ngSubmit)="submit()">
    <div class="full-name-inputs">

            <label for="vendor">Brand: </label>
           <nb-select id="vendor" formControlName="vendor" placeholder="Brand" (selectedChange)="onChangeVendor($event)" >
             <nb-option *ngFor="let vendor of vendors" [value]="vendor">{{ vendor }}</nb-option>
            </nb-select>

      <label for="model">Model: </label>
      <nb-select id="model" formControlName="model" placeholder="Model" [disabled]="disabledModel" (selectedChange)="onChangeModel($event)">
        <nb-option *ngFor="let model of models" [value]="model.name">{{ model.name }}</nb-option>
      </nb-select>


      <label for="class">Class: </label>
      <nb-select id="class" formControlName="vehicleClass" placeholder="Class" >
        <nb-option *ngFor="let class of classes" [value]="class">{{ class }}</nb-option>
      </nb-select>
    </div>
      <br>
    <div class="full-name-inputs">
      <label for="oType">Oil Type: </label>
      <nb-select id="oType" formControlName="oilType" placeholder="Oil Type" [disabled]="disabledOil" (selectedChange)="onChangeOil($event)">
        <nb-option *ngFor="let _oil of oil" [value]="_oil">{{ _oil }}</nb-option>

      </nb-select>
      <label for="gearType">Gear type </label>
      <nb-select id="gearType" formControlName="gearType" placeholder="Gearbox Type" [disabled]="disabledGear" (selectedChange)="onChangeGear($event)">
        <nb-option *ngFor="let _gear of gear" [value]="_gear">{{ _gear }}</nb-option>

      </nb-select>
    </div>
      <br>
    <div class="full-name-inputs">
      <label for="distance">Distance in KM:  </label>
      <input type="number" formControlName="distanceKM" id="distance" #distance nbInput min="0" value="0"  placeholder="Distnance">
      <label for="seats">Number of kids seats:  </label>
      <input type="number" formControlName="kidSeats" id="seats" nbInput min="0" max="3"value="0"  placeholder="Kids seats">

    </div>
      <br>
      <button type="submit" nbButton status="primary">Save</button>
    </form>
  </nb-card-body>
</nb-card>
