<nb-card>
  <nb-card-header>Create new ad</nb-card-header>
  <nb-card-body>
    <form [formGroup]="AdForm" (ngSubmit)="submit()">
      <div class="form-group">
      <label class="label" for="vehicle">Vehicle: </label>
        <nb-select formControlName="vehicleId" id="vehicle" placeholder="Choose vehicle">
          <nb-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.vendor + ' ' + vehicle.model + ' ' + vehicle.vehicleClass }}</nb-option>

        </nb-select>
      </div>
      <br>
      <div class="full-name-inputs">
        <div class="form-group">

        <label class="label col-sm-3 col-form-label" for="sDate">Start date: </label>
          <input formControlName="startTime" nbInput id="sDate"
                 placeholder="Form Picker"
                 [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <div class="form-group">
        <label  class="label col-sm-3 col-form-label" for="eDate">End date: </label>
          <input formControlName="endDate" nbInput id="eDate"
                 placeholder="Form Picker"
                 [nbDatepicker]="formpicker2">
          <nb-datepicker #formpicker2></nb-datepicker>
        </div>
      </div>
      <br>
      <div class="full-name-inputs">
        <label  for="location">Location:  </label>
        <input formControlName="location" type="text" id="location" nbInput  placeholder="">
        <label for="price">Price:  </label>
        <input formControlName="cena" type="number" min="0" id="price" nbInput  placeholder="">
        <nb-checkbox formControlName="damage">Damaged</nb-checkbox>
      </div>
      <br>
      <div id="selectImages" class="form-control-file">
        <label class="col-form-label-lg" style="width: 100%;"> Vehicle photos(min 1) </label>
        <input #file type="file" accept='image/*' (change)="preview(file.files)"/>
      </div>
      <br>
      <div id="images" class="row img_wrap">
        <div *ngFor="let image of imgURLS" style="width: 210px; height: 210px;"
             class="col-md-3">
          <img [src]="image" height="200" width="200" *ngIf="image">
          <button class="btn-outline-danger btn-sm-sm closeButton" (click)="removeImage(image)">
            <nb-icon class="ion-close-round ng-star-inserted"></nb-icon>
          </button>
        </div>
      </div>
      <br>
      <button type="submit" nbButton status="primary">Save</button>
    </form>
  </nb-card-body>
</nb-card>


