<nb-card>
  <nb-card-header>Create new ad</nb-card-header>
  <nb-card-body>
    <form [formGroup]="AdForm" (ngSubmit)="submit()">
      <div class="form-group">
      <label class="label" for="vehicle">Vehicle: </label>
        <nb-select formControlName="vehicleId" id="vehicle" placeholder="Choose vehicle">
          <nb-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.vendor }}</nb-option>

        </nb-select>
      </div>
      <br>
      <div class="full-name-inputs">
        <div class="form-group">

        <label class="label col-sm-3 col-form-label" for="sDate">Start date: </label>
          <input formControlName="startTime" nbInput id="sDate"
                 placeholder="Form Picker"
                 [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <div class="form-group">
        <label  class="label col-sm-3 col-form-label" for="eDate">End date: </label>
          <input formControlName="endDate" nbInput id="eDate"
                 placeholder="Form Picker"
                 [nbDatepicker]="formpicker2">
          <nb-datepicker #formpicker2></nb-datepicker>
        </div>
      </div>
      <br>
      <div class="full-name-inputs">
        <label  for="location">Location:  </label>
        <input formControlName="location" type="text" id="location" nbInput  placeholder="">
        <label for="price">Price:  </label>
        <input formControlName="cena" type="number" min="0" id="price" nbInput  placeholder="">
        <nb-checkbox formControlName="damage">Damaged</nb-checkbox>
      </div>
      <br>
      <button type="submit" nbButton status="primary">Save</button>
    </form>
  </nb-card-body>
</nb-card>

